[Unit]
Description=TICK Stack
Documentation=https://github.com/fgg89/docker-tick.git
After=docker.service
Requires=docker.service

[Service]
#Restart=always
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/usr/bin/docker-compose -f REPLACE_PATH_REPO/docker-tick/docker-compose.yml down
ExecStart=/usr/bin/docker-compose -f REPLACE_PATH_REPO/docker-tick/docker-compose.yml up -d
ExecStop=/usr/bin/docker-compose -f REPLACE_PATH_REPO/docker-tick/docker-compose.yml down

[Install]
WantedBy=multi-user.target
