[Unit]
Description=TIG Stack
Documentation=https://github.com/fgg89/docker-tick.git
After=docker.service
Requires=docker.service

[Service]
Restart=always

# Clean-up bad state if still hanging around
ExecStartPre=/usr/local/bin/docker-compose -f /home/pi/repos/docker-tick/docker-compose.yml down -v

# Start container when unit is started
ExecStart=/usr/local/bin/docker-compose -f /home/pi/repos/docker-tick/docker-compose.yml up

# Stop container when unit is stopped
ExecStartPre=/usr/local/bin/docker-compose -f /home/pi/repos/docker-tick/docker-compose.yml down -v

[Install]
WantedBy=multi-user.target
